element.style{ 

   margin: 0px;
    padding: 5px;
}

meta{
        display: none;
}

body {
    background-image: url(imgs/fondo\ nana.jpeg);    
    background-repeat: repeat
    
     }
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.menu {
    width: 50%;
    max-width: 860px;
    border: 5px solid #d4b0b0;
    border: 5px solid #d4b0b0;
    background-color: #c26565;
    box-shadow: 0 4px 15px rgba(175, 10, 21, 0.296);
}
.menu li {
    margin-bottom: 5%;
}

header {
    background-color: #b34757;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header h1 {
    margin: 0;
    font-size: 2em;
}
.menu a {
    color: white;
    background-color: #200303;
    text-decoration: none;
    padding: 15px;
    display: block;
}

* {
    margin: 0px;
    padding: 5px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
